.wrapper{
   width: 100%;
   overflow: hidden;
   margin: 0;
}
.content-holder{
   width: 1110px;
   margin: 0 auto;
   padding: 20px;
}
.content-title{
   font-size: 25px;
   line-height: 27px;
   color: #000000;
   font-weight: 600;
   margin: 0;
   text-align: center;
}